<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志文件存储位置 -->
    <springProperty scope="context" name="logPath" source="logging.logPath" defaultValue="logs"/>
    <!-- 日志文件名 -->
    <springProperty scope="context" name="logName" source="logging.logName" defaultValue="loga"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%20.20thread] %-5level %30.30logger{16} : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${logName}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%20.20thread] %-5level %30.30logger{16} : %msg%n</pattern>
        </encoder>
        <!--按日期-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志归档 -->
            <fileNamePattern>${logPath}/${logName}_%d{yyyy-MM-dd}_log%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--日志文件保留天数-->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <!--异步写日志-->
    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="CONSOLE"/>
    </appender>

    <appender name="ASYNC-ROLL" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="ROLL"/>
    </appender>

    <!-- 指定包下面的日志级别 -->
    <logger name="com.jointcorp.hongyeemina" level="info">
        <additive>false</additive>
        <appender-ref ref="ASYNC-CONSOLE" />
        <appender-ref ref="ASYNC-ROLL" />
    </logger>

    <root level="info">
        <additive>false</additive>
        <appender-ref ref="ASYNC-CONSOLE" />
        <appender-ref ref="ASYNC-ROLL" />
    </root>

    <logger name="com.jointcorp.chronicdisease.platform.mapper" level="DEBUG">
        <additive>false</additive>
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>
